<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="PrestaShop_Automation_TestSuite">
  <test thread-count="5" name="PrestaShop_Automation_Test">
    <classes>
      <class name="com.prestaonlineshop.qa.testcases.LoginPageTest"/>
      <!--  <class name="com.prestaonlineshop.qa.testcases.SignUpPageTest"/> -->
    </classes>
  </test> <!-- PrestaShop_Automation_Test -->
</suite> <!-- PrestaShop_Automation_TestSuite -->
